header{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    button{
        font-size: 1.4rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

@media (max-width:768px){
    h2{
        font-size: 1.6rem;
    }
}
@media (max-width:375px){
    header{
        padding: 20px 20px;
    }
}